body {
  background:purple;
}

.flex-container{
  text-align: center;
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  background-color: dodgerblue;
  margin: 2px;

}
.flex-container > div{
  height: 15px;
  margin: 10px;
  background-color: rgb(117, 117, 117);
  padding: 10px;
  font-size: 20px;
}

.flex-container > .odd{
  height: 25px;
  width: 30px;
  border: solid 2px black;

}

.even:hover{
  background-color: green;
}
.odd:hover{
  background-color: red;
}

/*container1*/

.flex-container1{
  text-align: center;
  display:flex;
  flex-direction:column;
  flex-wrap: wrap;
  background-color: skyblue;
  margin: 4px;

}
.flex-container1 > div{
  height: 15px;
  margin: 10px;
  background-color: rgb(117, 117, 117);
  padding: 10px;
  font-size: 20px;
}
.flex-container1 > .odd{
  height: 25px;
  width: 60%;
  align-self: center;
  border: solid 2px black;

}
/* container2 */

.flex-container2{
  text-align: center;
  display: flex;
  flex-direction:row-reverse;
  flex-wrap: wrap;
  background-color: navajowhite;
  margin: 4px;
  padding: 4px;
}
.flex-container2 > div{
  align-self: center;
height: 30px;
width:100px;
background-color: aliceblue;
margin: 2px;
padding:5px;
}

/* flex responsive */

.flex-responsive{
  background-color: brown;
box-sizing: border-box;
display: flex;
flex-wrap: wrap;
text-align: center;
padding: 10px;
}
.flex-left{
  flex: 200px;
  background-color: yellow;
  font-size: 20px;
  padding:10px;
  margin: 4px;
}
.flex-right{
  flex: 200px;
  background-color: yellowgreen;
  font-size: 20px;
  padding: 10px;
  margin: 4px;
}
@media {max: width 800px;} { .flex-left, .flex-right{
  flex: 100%;
}

}