*{ 
    box-sizing: border-box;

}
.payment{
    background-color:rgba(203, 137, 109, 0.8) ;
    padding: 10px 30px 10px 30px;
    border: 4px double rgba(198, 114, 79, 0.8);
    border-radius: 4px  ;

}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 18px;
    margin: 20px 35px 10px;
    padding: 10px;

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="pincode"],
input[type="date"],
input[type="number"], select, textarea{
    width: 70%;
    padding: 7px;
    border: 2px solid rgba(198, 114, 79, 0.8);
    border-radius: 8px;
}

h1{
    text-align: center;
}
input[type="button"]{
    width: 100%;
    
}